<div class="sidebar bg-dark text-light vh-100 px-3 py-4 d-flex flex-column" style="width: 250px;">
    <h4 class="text-white fw-bold mb-4">BeJutó</h4>

    <NavLink class="nav-link d-flex align-items-center text-light mb-2" href="" Match="NavLinkMatch.All" activeClass="active bg-secondary rounded">
        <RadzenIcon Icon="home" Style="font-size: 20px; margin-right: 10px;" />
        Főoldal
    </NavLink>

    <NavLink class="nav-link d-flex align-items-center text-light mb-2" href="repartizare" activeClass="active bg-secondary rounded">
        <RadzenIcon Icon="fact_check" Style="font-size: 20px; margin-right: 10px;" />
        Bejutási eredmények
    </NavLink>

    <NavLink class="nav-link d-flex align-items-center text-light mb-2" href="viz" activeClass="active bg-secondary rounded">
        <RadzenIcon Icon="stacked_line_chart" Style="font-size: 20px; margin-right: 10px;" />
        Vizualizáció
    </NavLink>

    <NavLink class="nav-link d-flex align-items-center text-light mb-2" href="kereses" activeClass="active bg-secondary rounded">
        <RadzenIcon Icon="search" Style="font-size: 20px; margin-right: 10px;" />
        Keresés
    </NavLink>

    <NavLink class="nav-link d-flex align-items-center text-light mb-2" href="trend" activeClass="active bg-secondary rounded">
        <RadzenIcon Icon="trending_up" Style="font-size: 20px; margin-right: 10px;" />
        Predikció
    </NavLink>
</div>